
.caixa {
    background-color: aqua;
    
    border-style: solid;
    padding: 25px;
    text-align: center;
    
}

.bolinha {
    display: inline-table;
    background-color: blue;
    width: 250px;
    height: 250px;
    border-style: solid;
    border-radius: 50%;
    margin: 15px;
    text-align: center;  
    
}

img {
    width: 75%;
    height: 75%;
}
